@import "src/style/core/colors";

header {
  display: flex;
  justify-content: space-between;
  background-color: $DARK_BLUE;
  color: white;
  padding: 1em;

  &>* {
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    list-style: none;
    a {
      margin-right: 1em;
      color: white;
      &:hover {
        font-style: italic;
      }
    }
  }
  img {
    height: 4em;
  }

  h1 {
    padding-left: 1em;
  }
}
